<div class="container">
  <p class="ellipsis center-align strong" style="margin-bottom: -8px"><%= link_to "", :back, class: "fas fa-chevron-circle-left" %></i></p>
  <div class="row">
    <div class="col s12">
      <div class="card horizontal">
        <div class="card-image">
          <img src="<%= @itinerary.picture_url_p %>" class="cover">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="title-card card-title activator grey-text text-darken-4"><%= @itinerary.name%></span>
              <span class="tertiary tooltipped" data-position="bottom" data-tooltip="Altitude max"><%= @itinerary.elevation_max %>m</span>
              <span class="tertiary tooltipped" data-position="bottom" data-tooltip="Difficulté"><%= @itinerary.difficulty %></span>
              <% if @itinerary.orientations != nil%>
                <span class="tertiary tooltipped" data-position="bottom" data-tooltip="Orientation principale"><%= @itinerary.orientations.gsub("\"", "") %></span>
                <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <%= render partial: "./itineraries/description", locals: {itinerary: @itinerary} %>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">

            <% if @itinerary.recent_outings.blank? %>
              <h6 class="strong">Pas de sorties récentes</h6>
            <% else %>
              <h6 class="strong">Sorties récentes</h6>
              <ul>
                <% @itinerary.recent_outings.each do |outing| %>
                <p><strong>Sortie du <%= outing[0] %></strong></p>
                <p style="white-space: pre-line; justify-content: start; max-width: 70vw"><i class="fas fa-quote-left crux-blue"></i> <em><%= outing[1] %></em> <i class="fas fa-quote-right crux-blue"></i></p>
                <br>
                <% end %>
              </ul>
            <% end %>

          </div>
        </div>
      </div>
    </div>

    <div class="col s12">
      <div class="flex-object">
        <iframe src=<%= "https://fatmap.com/@#{@itinerary.coord_lat},#{@itinerary.coord_long},#{@itinerary.elevation_max},-5.0001480,0,1582.8573116,normal" %> frameborder="" allowfullscreen="" width="100%" height="600"></iframe>
        <!-- <iframe width="100%" height="750" frameBorder="0" src="https://fatmap.com/routeid/133158/Aiguille_de_Mex:_En_Boucle"></iframe> -->
      </div>


    </div>
  </div>
</div>


