<br>
<div class="container">
  <div class="row">

    <% @trips.each do |trip| %>
    <div class="col s12 m12 l6">
    <div class="card horizontal card-trip">
      <div class="card-image">
        <img src="https://res.cloudinary.com/deesjjv4h/image/upload/v1552047840/crux/images/tripImageF.jpg">
      </div>
        <div class="card-stacked">
          <div class="card-content">
            <p class="title-card" style="font-weight: 500;">Sortie du <%= l trip.start_date, :format => :long %> au <%= l trip.end_date, :format => :long %></p>
            <br>
            <p><i class="fas fa-car"></i> depuis <%= trip.location.split(",")[0] %> </p>
          </div>
          <div class="card-action">
            <% if trip.validated %>
            <%= link_to 'Voir les itinéraires', trip_city_user_activity_path(trip, trip.city, trip.user_activity), class: 'crux-blue' %>
            <% else %>
              <%= link_to 'Reprendre la séléction', trip_cities_path(trip), class: 'crux-blue' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>

    </div>
  </div>
</div>
