<div class="container">
  <div class="row">
    <div class="col s12 m6 offset-m3">

      <h5 class="form-title">Sélectionne une ou des activités</h5>

      <% @user_activities.each do |user_activity| %>
        <div class="col s3">
            <%= image_tag "icons/#{user_activity.activity.name}.png", class: "circle responsive-img small icon-source #{'selected-icon' if user_activity.set?}", id: user_activity.activity.name %>
        </div>
      <% end %>

      <% @user_activities.each do |user_activity| %>

        <div class="input-field col s12 m6 icon-target <%= 'hidden' if user_activity.level == nil %>" id=<%= user_activity.activity.name %>>
          <%= simple_form_for user_activity, remote: true, data: { turbolinks: false }  do |f| %>
            <%= f.input :level, collection: ["Niveau ?", "Débutant","Intermédiaire","Expérimenté"], label: user_activity.activity.short_name.capitalize, input_html: { class: user_activity.activity.name.split(" ")[0]},include_blank: false, include_hidden: false %>
            <%= f.hidden_field  :activity_id %>
          <% end %>
        </div>
      <% end %>

      <h5 class="form-title col s12 m12 no-padding">Dis-nous d'où et quand tu pars</h5>
      <div class="input-field col s12 m12">
        <%= simple_form_for @trip do |f| %>
          <%= f.input  :location, input_html: { id: "trip_address", placeholder: "Ville de départ (Lyon, Paris...)"}, label: false %>
          <div style="display: flex">
            <%= f.input  :start_date, as: :string, input_html: { class: 'datepicker datepicker-start', placeholder: "Date de départ"}, label: false %>
            <%= f.input  :end_date, as: :string, input_html: { class: 'datepicker datepicker-end', placeholder: "Date de fin"}, label: false %>
          </div>
          <div id="empty-field-message" class="transparent">
            <p class ="center-align">Ces champs ne peuvent pas être vides.</p>
          </div>
          <div class="center-align">
            <input type="submit" value="Dis-moi où partir" class="waves-light btn-large" id="letsGoBtn">
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="curtain col s12">
  <div class="curtain-content center-align">
    <img src="https://res.cloudinary.com/dbehokgcg/image/upload/v1553600239/crux-boussole.png" class="boussole">
    <ul class="list" style="font-size: 1.64em !important;">
      <li id="row-intro" class="font-monospace"><strong>Crux</strong> analyse les conditions en montagne :</li>
      <li class="transparent" id="row-iti" class="font-monospace"><strong><span id="itinerary-count"> <%= Itinerary.count %> </span> itinéraires...</strong></li>
      <li class="transparent" id="row-basecamp"class="font-monospace"><strong> <span id="basecamp-count"><%=  Basecamp.count %></span> camps de base...</strong></li>
      <li class="transparent" id="row-weather"class="font-monospace"><strong><span id="weather-count"><%=  Weather.count * 2 %></span> bulletins météo...</strong></li>
    </ul>
  </div>
</div>
