<div class="banner banner-not-home" style="background-image: linear-gradient(rgba(0,0,0,0.80), rgba(0,0,0,0.85)), url('https://images.pexels.com/photos/414459/pexels-photo-414459.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
  <div class="banner-content text-center">

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 form-frame">
          <h4>Mon profil aventurier</h4>
          <% @user_activities.each do |user_activity| %>
            <div class="input-field col s12 m6">
              <%= simple_form_for user_activity, remote: true do |f| %>
              <%= f.input  :level, :collection => ["Pas intéressé", "Débutant","Intermédiaire","Expérimenté"], label: user_activity.activity.name.capitalize, input_html: { class: user_activity.activity.name.split(" ")[0]},include_blank: false, include_hidden: false %>
              <%= f.hidden_field  :activity_id %>
              <% end %>
            </div>
          <% end %>

          <h4>Ma sortie</h4>

          <div class="input-field col s12 m12">
            <%= simple_form_for @trip do |f| %>
            <%= f.input  :location, input_html: { id: "trip_address", placeholder: "Adresse de départ"}, label: false %>
            <%= f.input  :start_date, as: :string, input_html: { class: 'datepicker datepicker-start', placeholder: "Date de départ"}, label: false %>
            <%= f.input  :end_date, as: :string, input_html: { class: 'datepicker datepicker-end', placeholder: "Date de fin"}, label: false %>
            <div id="empty-field-message" class="transparent"><p>Ces champs ne peuvent pas être vides.</p></div>
              <div class="center-align" ><input type="submit" value="Let's go!" class="btn" id ="letsGoBtn" ></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
   <div class="curtain">
    <div class="curtain-content text-center">
    <%= image_tag("boussole.png",class: "boussole") %>
    <ul class="list">
      <li id="row-intro" class="font-monospace"> Pour vous proposer les parcours les plus pertinents, <strong>Crux</strong> effectue pour vous l'analyse... </li>
      <li class="transparent" id="row-iti" class="font-monospace">...de <strong><span id="itinerary-count"> <%= Itinerary.count %> </span> itinéraires...</strong></li>
      <li class="transparent" id="row-basecamp"class="font-monospace">...de <strong> <span id="basecamp-count"><%=  Basecamp.count %></span> camps de base...</strong></li>
      <li class="transparent" id="row-massif"class="font-monospace">...des <strong>données météos de <span id="massif-count"><%=  MountainRange.count %></span> massifs.</strong></li>
    </ul>
    </div>

</div>
