<h1>Je suis le show trip, voici mes basecamps</h1>
<p>Pour l'instant on affiche tous les basecamps, il faudra ajouter les conditions de localisations/ météo / activités / niveau</p>

<div class="container">
  <div class="row">

  <% @basecamps_activities.each do |base| %>
    <div class="col s12 m6">
      <h3 class="header"><%= base.basecamp.name %></h3>
      <div class="card horizontal small">
        <div class="card-image">
          <% if base.activity.name == "ski de randonnée" %>
            <%= image_tag "ski.jpg" %>
          <% elsif base.activity.name == "alpinisme" %>
            <%= image_tag "alpi.jpg" %>
          <% elsif base.activity.name == "escalade" %>
            <%= image_tag "escalade.jpg" %>
          <% end %>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h4><%= base.activity.name.capitalize %></h4>
            <p><strong><%= base.nb_itineraries %></strong> itinéraires matchent ton profil</p>
            <br>
            <p><i class="fas fa-car"></i> 1h30</p>
            <br>
            <p><i class="fas fa-exclamation-triangle"></i> Risque 3</p>
            <br>
            <p><i class="fas fa-cloud-sun"></i> Beau temps, 3°C</p>
          </div>
          <div class="card-action">
            <div class="left-align">
              <a href="#"">En savoir plus</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>


