<div class="col s12 m6">
  <div class="card small">

    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="<%= itinerary.picture_url_p %>">
    </div>

    <div class="card-content">
      <p>
      <div class="title-card ellsipsised card-title activator grey-text text-darken-4">
        <% if itinerary.score > 0.8 %>
          <span class="strong-card-title"><%= itinerary.short_name %> <i class="fas fa-heart"></i></span>
        <% elsif itinerary.score > 0 %>
          <span class="strong-card-title" style="font-weight: lighter;"><%= itinerary.short_name %></span>
        <% else %>
          <span><%= itinerary.short_name %></span>
        <% end %>
      </div>

        <div class="center-align">
          <span class="tertiary tooltipped" data-position="bottom" data-tooltip="Altitude max"><%= itinerary.elevation_max %>m</span>
          <% if itinerary.height_diff_up != nil%>
            <span class="tertiary tooltipped" data-position="bottom" data-tooltip="Dénivelé positif">+ <%= itinerary.height_diff_up %> m</span>
          <% end %>
          <span class="tertiary tooltipped" data-position="bottom" data-tooltip="Difficulté"><%= itinerary.universal_difficulty.capitalize[0..4] %>.</span>
        </div>

        <div class="right-align" id="favorite">
          <% if trip.validated%>
            <%= link_to "", trip_favorite_itinerary_path(trip, itinerary), method: :delete, class: 'fas fa-trash add-itinerary' %>
          <% else %>

            <% if trip.itineraries.distinct.include?(itinerary) %>
              <a class="fas fa-mountain add-itinerary"></a>
            <% else %>
              <a onclick="M.toast({html: 'Itinéraire ajouté', classes: 'toaster', displayLength: 500})" class="fas fa-plus-circle add-itinerary"></a>
            <% end %>

            <%= simple_form_for [trip, favorite], remote: true do |f| %>
            <%= f.input  :trip_id, input_html: {value: trip.id} %>
            <%= f.input  :itinerary_id, input_html: {value: itinerary.id} %>
            <% end %>

          <% end %>
        </div>

      </p>
    </div>

    <div class="card-reveal">
      <p class="card-title grey-text text-darken-4"><strong><%= itinerary.name %></strong><i class="material-icons right absolute">close</i></p>
      <p><%= render partial: "itinerary_description", locals: {itinerary: itinerary} %></p>
    </div>

  </div>
</div>
