<div class=" trip-tab">
  <h5 class= "trip-tab-infos light-padding"><%= @mountain_range.name %> - Estimation du risque d'avalanche</h5>
  <p id="bra-date">Date du dernier bulletin BRA :<em style="font-weight:bold;"> <%= @mountain_range.bra_date.strftime("%d/%m/%Y") %></em></p>

    <%= image_tag(@mountain_range.rosace_url.split("/")[-1], class: "materialboxed scale-down")%>
      <ul id="legend">Indices de risque : <li>1 faible - 2 limité - 3 marqué</li><li> - 4 fort - 5 très fort</li></ul>
      <figcaption>En noir : les pentes les plus dangereuses</figcaption>

  <h5 class= "trip-tab-infos"><strong>Stabilité du manteau neigeux</strong></h5>
  <p class="trip-tab-infos text-justify"> <%= @mountain_range.stability %></p>
  <h5 class= "trip-tab-infos"><strong>Qualité de la neige</strong></h5>
  <p class="trip-tab-infos text-justify"> <%= @mountain_range.snow_quality %></p>
  <div class = " trip-tab-infos">
  <div class="row">
    <div class="col s12 m6">
        <%= image_tag(@mountain_range.snow_image_url.split("/")[-1], class: "materialboxed scale-down")%>
        <figcaption>Epaisseur de neige hors-piste</figcaption>
    </div>
    <div class="col s12 m6">
        <%= image_tag(@mountain_range.fresh_snow_url.split("/")[-1], class: "materialboxed scale-down")%>
        <figcaption>Neige Fraîche à 1800m</figcaption>
    </div>
  </div>
  </div>
</div>

