<div class="container">
  <p class="ellipsis center-align strong" style="margin-bottom: -8px">
    <% if @trip.validated == false %>
      <%= link_to "", trip_cities_path(@trip), class: "fas fa-chevron-circle-left" %>
    <% end %>
    <span style="padding-left: 10px;"><%= @activity.short_name.capitalize %> à <%= @city.clean_name %></span>
  </p>
  <br>
  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="fas fa-rocket crux-blue"></i>Besoin d'aide pour passer à l'action ?</div>
      <div class="collapsible-body">
        <p>On te propose de bosser pour :
        <ul>
          <li><i class="fas fa-check crux-blue"></i> te proposer la logistique la plus simple (transport, hébergement),</li>
          <li><i class="fas fa-check crux-blue"></i> <em>packager</em> les meilleurs itinéraires,</li>
          <li><i class="fas fa-check crux-blue"></i> te mettre en relation avec un sympathique professionnel de la montagne, si tu le souhaites.</li>
        </ul>
        </p>
        <%= link_to "Aidez-moi", trip_requests_path(@trip), method: :post, class: 'btn' %>
        <p><strong>C'est gratuit</strong> (alors non n'insiste pas, on ne te porte pas ton sac).</p>
      </div>
    </li>
  </ul>


  <% if @trip.validated == false %>
    <div class="fixed-action-btn card-panel sticky-cta", id="validation-basecamp-button">
      <%= link_to "Valider la séléction", trip_city_update_trip_path(@trip, @city, @trip_activity), method: :put, class: 'btn' %>
    </div>
  <% else %>
    <div class="fixed-action-btn card-panel sticky-cta">
      <%= link_to "Ajouter des itinéraires", trip_city_update_trip_path(@trip, @city, @trip_activity), method: :put, class: 'btn blue' %>
    </div>
  <% end %>

  <div class="row">
    <div class="col s12">
      <ul class="tabs tabs-fixed-width">
        <li class="tab col s1"><a class="active" href="#itineraries">Itinéraires</a></li>
        <li class="tab col s1"><a class="" href="#weather">Météo</a></li>
        <% if @mountain_range %>
        <li class="tab col s1"><a class="" href="#avalanche">Avalanche</a></li>
        <% end %>
        <li class="tab col s1"><a class="" href="#map-ba">Carte</a></li>
      </ul>

      <div id="itineraries" style="margin: 10px;">

        <% if @trip.validated == false %>

            <div class="left-align font-1em">Choisis parmi <%= @itineraries.count %> itinéraires proches
              <%= form_tag(trip_city_trip_activity_path(@trip, @city, @trip_activity), method: :get, remote: true) do %>
                <%= text_field_tag :query,
                  params[:query],
                  class: "form-control left-align font-1em smaller-width",
                  placeholder: "ou toute la base (e.g. \"whymper\")"
                %>
                <i class="fas fa-search" id="green-search"></i>
              <% end %>
            </div>

        <% end %>

        <div class="slide-container">

          <div id="search-results">
          </div>
          <% @itineraries.each do |itinerary| %>
          <% next if itinerary.name.nil? || itinerary.universal_difficulty.nil? %>
          <%= render partial: "card_itinerary", locals: {itinerary: itinerary, favorite: @favorite_itinerary, trip: @trip} %>
          <% end %>
        </div>

      </div>

      <div id="weather">
        <div class="row">
          <%= render partial: "weather_infos", locals: {city: @city} %>
        </div>
      </div>
      <% if @mountain_range %>
      <div id="avalanche">
        <div class="row">
          <%= render partial: "avalanche_infos", locals: {mountain_range: @mountain_range} %>
        </div>
      </div>
      <% end %>
      <div id="map-ba">
        <div class="slide-container" id="content-map">
          <%= render partial: "mapbox" %>
        </div>
      </div>
    </div>
  </div>
</div>
