<div class="container">
  <p class="ellipsis center-align strong" style="margin-bottom: -8px">
    <% if @trip.validated == false %>
      <%= link_to "", trip_cities_path(@trip), class: "fas fa-chevron-circle-left" %>
    <% end %>
    <span style="padding-left: 10px;"><%= @activity.short_name.capitalize %> à <%= @city.clean_name %></span>
  </p>

  <% if @trip.validated == false %>
    <div class="fixed-action-btn card-panel sticky-cta", id="validation-basecamp-button">
      <%= link_to "Valider la séléction", trip_city_update_trip_path(@trip, @city, @trip_activity), method: :put, class: 'btn' %>
    </div>
  <% else %>
    <div class="fixed-action-btn card-panel sticky-cta">
      <%= link_to "Ajouter des itinéraires", trip_city_update_trip_path(@trip, @city, @trip_activity), method: :put, class: 'btn blue' %>
    </div>
  <% end %>

  <div class="row">
    <div class="col s12">

      <%= render partial: "tabs", locals: {trip: @trip} %>

      <div id="itineraries" style="margin: 10px;">

        <% if @trip.validated == false %>

            <div class="left-align font-1em">Choisis parmi <%= @itineraries.count %> itinéraires proches
              <%= form_tag(trip_city_trip_activity_path(@trip, @city, @trip_activity), method: :get, remote: true) do %>
                <%= text_field_tag :query,
                  params[:query],
                  class: "form-control left-align font-1em smaller-width",
                  placeholder: "ou toute la base (e.g. \"whymper\")"
                %>
                <i class="fas fa-search" id="green-search"></i>
              <% end %>
            </div>

        <% end %>

        <div class="slide-container">

          <div id="search-results">
          </div>
          <% @itineraries.each do |itinerary| %>
          <% next if itinerary.name.nil? || itinerary.universal_difficulty.nil? %>
          <%= render partial: "shared/card_itinerary", locals: {itinerary: itinerary, favorite: @favorite_itinerary, trip: @trip} %>
          <% end %>
        </div>

      </div>

      <div id="weather">
        <div class="row">
          <%= render partial: "weather_infos", locals: {city: @city} %>
        </div>
      </div>
      <% if @mountain_range %>
      <div id="avalanche">
        <div class="row">
          <%= render partial: "avalanche_infos", locals: {mountain_range: @mountain_range} %>
        </div>
      </div>
      <% end %>
      <div id="map-ba">
        <div class="slide-container" id="content-map">
          <%= render partial: "mapbox" %>
        </div>
      </div>

      <% if @trip.validated %>
      <div id="participants">
        <div class="row">
          <%= render partial: "participants", locals: {trip: @trip, invitation: @invitation} %>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>
