<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.70)), url('https://images.pexels.com/photos/414459/pexels-photo-414459.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
  <div class="row align-center log-sign-in">
    <div class="col s12">
      <h2>Mot de passe oublié?</h2>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Créer un nouveau mot de passe" %>
        </div>
      <% end %>
      <div class="form-links">
        <%= render "devise/shared/links" %>
      </div>
      </div>
    </div>
  </div>
</div>
