<div class="container">
  <p class="ellipsis center-align strong" style="margin-bottom: -8px">
    <i class="fas fa-car"></i> du
    <%= @trip.start_date.to_s[-2..-1] %>/<%= @trip.start_date.to_s[-5..-4] %>
    depuis <%= @trip.short_address %>
  </p>
  <div class="basecamps-activities-container" data-ors-api-key="<%= ENV['OPENROUTE_API_KEY2'] %>">
    <div class="row">
      <div class="col s12 m12">
        <ul class="tabs tabs-fixed-width">
          <li class="tab col s1"><a class="active" href="#list">Liste</a></li>
          <li class="tab col s1"><a class="" href="#map-ba">Carte</a></li>
        </ul>
          <div id="list">
            <div class="slide-container">
            <% @areas.each do |area| %>
              <div class="col s12 m6">
                <% activity = Activity.find_by(name: area.temp_activity) %>
                <% user_activity = UserActivity.find_by(activity_id: activity.id) %>
                <%= link_to trip_area_user_activity_path(@trip, area, user_activity) do %>
                  <div class="card card-basecamp-activity horizontal small">
                    <div class="card-image">
                      <%= cl_image_tag("#{Activity.find_by(name: area.temp_activity).placeholder_image}") %>
                    </div>
                    <div class="card-stacked black-font"">
                      <div class="card-content" data-coords="<%= { ori_lat: @trip.coord_lat, ori_long: @trip.coord_long, desti_lat: area.coord_lat, desti_long: area.coord_long }.to_json %>">
                        <p class="strong">
                        <% if area.temp_score > @trip.duration / 1.5 %>
                          <%= area.city.clean_name %><span>  <i class="fas fa-heart"></i></span>
                        <% elsif area.temp_score > @trip.duration / 2 %>
                          <strong style="font-weight: lighter;"><%= area.city.clean_name %><span></strong>
                        <% else %>
                          <strong style="color: rgba(7,16,19, 0.8); font-weight: lighter;"><%= area.city.clean_name %><span>  <i class="far fa-frown"></i></span></strong>
                        <% end %>
                        </p>
                      <br>
                      <p id="itinerary-number" ><strong><%= area.nb_itineraries %></strong> itinéraires en <strong><%= activity.short_name %></strong> <%= area.temp_score %></p>
                      <br>

                      <% if area.city.mountain_range != nil && area.city.mountain_range.max_risk != nil   %>

                        <% if area.city.mountain_range.max_risk > 2 %>
                        <p><i class="fas fa-exclamation-triangle"></i> BRA risqué (<%= area.city.mountain_range.max_risk %> / 5)</p>
                        <% else %>
                        <p><i class="fas fa-thumbs-up"></i> BRA optimal</p>
                        <% end %>
                        <br>
                        <p>
                      <% end %>
                      <% area.weather_icons(@trip).each do |icon_url| %>
                        <img src="<%= "http:" + icon_url %>" style="width: 32px; height: 32px;">
                      <% end %>
                      </p>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
            <% end %>
            </div>
          </div>
          <div id="map-ba">
            <div class="slide-container" id="content-map">
              <%= render partial: "mapbox" %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

