<div>
  <div class="container">
  <h5 class="form-title">Connexion</h5>
    <div class="row box-shadow">
        <div class="col s12 m6 offset-m3">
          <div class="form-container">
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <%= f.error_notification %>
              <div class="input-field col s12 m12">
              <%= f.input :email,
                    label: "Adresse email:",
                    label_html: { class: 'left' },
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" }
                   %>,
              <%= f.input :password,
                    label: "Mot de passe:",
                    label_html: { class: 'left' },
                    required: false,
                    input_html: { autocomplete: "current-password" }
                     %>
              </div>
              <div class="center-align">
                <%= f.button :submit, "Se connecter" %>
                <br><br>
                <%= render "devise/shared/links" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

