<div class="avalanche">
  <h2><%= mountain_range.name %> - Estimation du risque d'avalanche</h2>
  <div class="avalanche-infos">
    <%= image_tag("rosace_#{mountain_range.name}.png", class: "scale-down")%>
    <p>Indices de risque : 5 très fort - 4 fort - 3 marqué - 2 limité - 1 faible -- En noir : les pentes les plus dangereuses</p>
  </div>
  <h3>Stabilité du manteau neigeux</h3>
  <p> <%= mountain_range.stability %></p>
  <h3>Qualité de la neige</h3>
  <p> <%= mountain_range.snow_quality %></p>
  <div class="row">
    <div class="col s12 m6">
      <div class="avalanche-infos">
        <h3>Epaisseur de neige hors-piste</h3>
        <%= image_tag("snow_#{mountain_range.name}.png")%>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="avalanche-infos">
        <h3>Neige Fraîche à 1800m</h3>
        <%= image_tag("fresh_snow_#{mountain_range.name}.png")%>
      </div>
    </div>
  </div>
</div>
