<div class="col s12 m4">
  <div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="<%= itinerary.picture_url %>">
    </div>
    <div class="card-content">
      <span class="title-card card-title activator grey-text text-darken-4"><%= itinerary.name.split("-")[0] %></span>
      <p>
        <span class="tertiary"><%= itinerary.elevation_max %>m</span>
        <span class="tertiary"><%= itinerary.difficulty %></span>
        <% if itinerary.orientations != nil%>
          <span class="tertiary"><%= itinerary.orientations.gsub("\"", "") %></span>
          <% end %>
        <div class="right-align" id="favorite"><a onclick="M.toast({html: 'Itinéraire ajouté', classes: 'toaster'})" class="fas fa-plus-circle"></a></div>

          <%= simple_form_for favorite, remote: true do |f| %>
          <%= f.input  :trip_id, input_html: {value: trip.id} %>
          <%= f.input  :itinerary_id, input_html: {value: itinerary.id} %>
          <% end %>
      </p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= itinerary.name %><i class="material-icons right">close</i></span>
      <p><%= render partial: "itinerary_description", locals: {itinerary: itinerary} %></p>
    </div>
  </div>
</div>
