<div class="container">

  <h4 class="ellipsis"><%= @activity.name.capitalize %> à <%= @basecamp.name.encode("iso-8859-1").force_encoding("utf-8") %></h4>

  <% if @trip.validated == false %>
    <div class="fixed-action-btn card-panel sticky-cta hide">
      <%= link_to "Valider ce camp", trip_path(@trip), method: :put, class: 'btn' %>
    </div>
  <% else %>
    <div class="fixed-action-btn card-panel sticky-cta">
      <%= link_to "Ajouter des itinéraires", trip_path(@trip), method: :put, class: 'btn' %>
    </div>
  <% end %>

  <div class="row">
    <div class="col s12">
      <ul class="tabs tabs-fixed-width">
        <li class="tab col s1"><a class="active" href="#itineraries">Itinéraires</a></li>
        <li class="tab col s1"><a class="" href="#weather">Météo</a></li>
        <% if @mountain_range %>
          <li class="tab col s1"><a class="" href="#avalanche">Avalanche</a></li>
        <% end %>
      </ul>

      <div id="itineraries" style="margin-top: 5px;">
        <div class="slide-container">

          <% @itineraries.each do |itinerary| %>
            <% next if itinerary.name.nil? %>
            <%= render partial: "card_itinerary", locals: {itinerary: itinerary, favorite: @favorite_itinerary, trip: @trip} %>
          <% end %>

        </div>
      </div>
      <div id="weather">
        <img src="https://my.meteoblue.com/visimage/meteogram_web?look=KILOMETER_PER_HOUR%2CCELSIUS%2CMILLIMETER&apikey=5838a18e295d&cache=no&city=Lyon&iso2=fr&lat=45.748501&lon=4.846710&asl=173&tz=Europe%2FParis&lang=fr&ts=1551881940&sig=983fda6535376947dff6cb432d237c70" alt="">
      </div>
      <% if @mountain_range %>
        <div id="avalanche">
          <div class="container">
            <%= render partial: "avalanche_infos", locals: {mountain_range: @mountain_range} %>
          </div>
        </div>
      <% end %>
  </div>
</div>
