<div class="container">

  <h3><%= @basecamp.name.encode("iso-8859-1").force_encoding("utf-8") %> - <%= @activity.name %></h3>

  <div class="row">
    <div class="col s12">
      <ul class="tabs tabs-fixed-width">
        <li class="tab col s1"><a class="active" href="#itineraries">Itinéraires</a></li>
        <li class="tab col s1"><a class="" href="#weather">Météo</a></li>
        <% if @mountain_range %>
          <li class="tab col s1"><a class="" href="#avalanche">Avalanche</a></li>
        <% end %>
      </ul>

      <div id="itineraries">
        <div class="itineraries-container">
          <div class="card-panel cta">
          <% if @trip.validated %>
            <span>Vos itinéraires sont maintenant disponibles en mode offline ! <br><i class="fas fa-edit"></i><%= link_to "Modifier ma sélection", trip_path(@trip), method: :put%></span>
          <% else %>
            <span>Sélectionnez les itinéraires qui vous intéressent, puis validez votre camp de base quand vous êtes prêt à partir.</span>
            <%= link_to 'Go !', trip_path(@trip), method: :put, class: 'btn' %>
          <% end %>
          </div>

          <% @itineraries.each do |itinerary| %>
            <% next if itinerary.name.nil? %>
            <%= render partial: "card_itinerary", locals: {itinerary: itinerary, favorite: @favorite_itinerary, trip: @trip} %>
          <% end %>

        </div>
      </div>
      <div id="weather"></div>
      <% if @mountain_range %>
        <div id="avalanche">
          <div class="container">
            <%= render partial: "avalanche_infos", locals: {mountain_range: @mountain_range} %>
          </div>
        </div>
      <% end %>
  </div>
</div>
